openapi: 3.0.1
info:
  title: Forex Rates powered by OpenAI
  description: Unleash Forex Rates; Advanced analysis for currency markets. Gain insights, sentiment evaluation, and text completion.
  version: 'v1'
servers:
  - url: https://live.forex-gpt.ai
oanda:
  hostname: api-fxpractice.oanda.com
  streaming_hostname: stream-fxpractice.oanda.com
  port: 443
  ssl: true
  token: YOUR_OANDA_TOKEN
  username: YOUR_OANDA_USERNAME
  accounts:
    - YOUR_ACCOUNT_ID_1
    - YOUR_ACCOUNT_ID_2
  active_account: YOUR_ACTIVE_ACCOUNT_ID
paths:
  /analyze:
    post:
      operationId: analyze
      x-openai-isConsequential: false
      summary: Analyze text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/analyzeRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analyzeResponse'
  /generate:
    post:
      operationId: generate
      x-openai-isConsequential: false
      summary: Generate text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generateRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generateResponse'
  /complete:
    post:
      operationId: complete
      x-openai-isConsequential: false
      summary: Complete text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completeRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/completeResponse'
  /search:
    post:
      operationId: search
      summary: Search for text
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/searchRequest'
      responses:
        "200":
          descripti